@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --branco: white;
    --cor-de-fundo: #5e116d;
    --fundo-senha: #c24db2;
    --fundo-texto: #58173d;
    --borda: #1d1e20;
    --roboto: 'Roboto', sans-serif;
    --roboto-mono: 'Roboto Mono', monospace;
}

body{
    color: var(--branco);
    background-color: var(--cor-de-fundo);
    font-family: var(--roboto);
}
